<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/jee
     		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	<bean id="propertyConfigurer-basic"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="order" value="1" />  
    	<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:${anlaiye_env}_config/basic-redis.properties</value>
				<value>classpath*:${anlaiye_env}_config/basic-db.properties</value>
			</list>
		</property>
	</bean>

	<import resource="classpath*:/applicationContext-basic-dao.xml" />
	<import resource="classpath*:/applicationContext-basic-rao.xml" />

	<context:component-scan base-package="com.anlaiye.breakfast.basic.common.service.impl"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	
<!-- 	<bean id="basicExpireService"
		class="com.anlaiye.data.common.service.impl.ExpireServiceImpl">
		<property name="expireRao" ref="basicExpireRao" />
	</bean> -->
</beans>
